<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="logs\internal.txt">

    <extensions>
        <!--enable NLog.Web for ASP.NET Core-->
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

	<targets>
		<target xsi:type="File" name="File" fileName="logs\${shortdate}.log">
			<layout xsi:type="CsvLayout">
				<quoting>Auto</quoting>
				<withHeader>false</withHeader>
				<delimiter>Tab</delimiter>
				<column name="DateTime" layout="${longdate}" />
				<column name="Serverity" layout="${uppercase:${level}}" />
				<column name="Message" layout="${message}" />
				<column name="Exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
		<target xsi:type="ColoredConsole" name ="Console" />
	</targets>

    <rules>
	    <!--Output hosting lifetime messages to console target for faster startup detection -->
	    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="Console, File" final="true" />

	    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
	    <logger name="Microsoft.*" maxlevel="Debug" final="true" />
	    <logger name="System.Net.Http.*" maxlevel="Debug" final="true" />

	    <logger name="*" minlevel="Trace" writeTo="Console, File" />
	</rules>
</nlog>